Adel Gadllah <adel.gadllah@gmail.com> <drago01@gmail.com>
Alan Griffiths <alan.griffiths@canonical.com> <alan@octopull.co.uk>
Andrea Azzarone <azzaronea@gmail.com> <aazarone@gmail.com>
Andrea Azzarone <azzaronea@gmail.com> Andrea Azzarone andrea.azzarone@canonical.com <>
Auboyneau Vincent <ksamak@riseup.net> <ksamak@ksalaptop>
Auboyneau Vincent <ksamak@riseup.net> <ksamak@riseup.net>
Bellegarde Cedric <gnumdk@gmail.com> <gnumdk@gmail.com>
Bellegarde Cedric <gnumdk@gmail.com> <gnumdk@puffy.homelinux.org>
Brian Nguyen <bnguyen@nvidia.com> Bryan Nguyen
BryanFRitt <BryanFRitt@Hotmail.com> <BryanFRitt@HotMail.com>
C-F Language team <i18n@opencompositing.org> C-F language team
Christopher James Halse Rogers <chris@cooperteam.net> <chris@Burninator.>
Christopher Williams <crdlb@compiz-fusion.org> <christopherw@verizon.net>
Compiz Fusion l10n team <i18n@opencompositing.org> <i18n@opencompositing.org>
Daniel van Vugt <daniel.van.vugt@canonical.com> Daniel van Vugt <>
Daniel van Vugt <daniel.van.vugt@canonical.com> <vanvugt@gmail.com>
Danny Baumann <dannybaumann@web.de> <daba@mobilrechner.localdomain>
Danny Baumann <dannybaumann@web.de> <daba@noname.>
Danny Baumann <dannybaumann@web.de> <daba@rechenknecht.peppercon.de>
Danny Baumann <dannybaumann@web.de> <maniac>
Danny Baumann <dannybaumann@web.de> <maniac@opencompositing.fr.nf>
Danny Baumann <dannybaumann@web.de> <maniac@opencompositing.org>
Dan Winship <danw@novell.com> <danw@twelve-monkeys.boston.ximian.com>
David Reveman <davidr@novell.com> <c99drn@cs.umu.se>
David Reveman <davidr@novell.com> <david@ion.>
Dennis Kasprzyk <onestone@opencompositing.org> <onestone>
Dennis Kasprzyk <onestone@opencompositing.org> <onestone@beryl-project.org>
Dennis Kasprzyk <onestone@opencompositing.org> <onestone@compiz-fusion.org>
Dennis Kasprzyk <onestone@opencompositing.org> <onestone@compiz.org>
Dennis Kasprzyk <onestone@opencompositing.org> <onestone@de35.org>
Didier Roche <didier.roche@canonical.com> <didrocks@ubuntu.com>
Diogo Ferreira <diogo@underdev.org> <defer@localhost.localdomain>
Dominique Leuenberger <dominique@leuenberger.net> <dimstar@opensuse.org>
Dominique Leuenberger <dominique@leuenberger.net> <dominique@messiah.leuenberger.net>
Eduardo Gurgel Pinho <edgurgel@gmail.com> <eduardo@mad4.>
Eduardo Gurgel Pinho <edgurgel@gmail.com> <eduardo@mad4.Chagas>
Erkin Bahceci <erkinbah@gmail.com> <erkin@flux.>
Guillaume Seguin <guillaume@segu.in> <ixce@ed3n.>
Guillaume Seguin <guillaume@segu.in> <ixce@ed3n-m.>
Guillaume Seguin <guillaume@segu.in> <ixcemix@gmail.com>
Hu Kang <stevenhooke11@gmail.com> Hu Kang stevenhooke11@gmail.com <>
James Jones <jajones@nvidia.com> <jajones@jatest.nvidia.com>
Jigish Gohil <cyberorg@prime.cyberorg.info> <cyberorg@opensuse.org>
Jigish Gohil <cyberorg@prime.cyberorg.info> <cyberorg@opensuse.orgname=JigishGohil>
Jigish Gohil <cyberorg@prime.cyberorg.info> <cyberorg@prime.>
Jigish Gohil <cyberorg@prime.cyberorg.info> <root@prime.cyberorg.info>
Joel Bosveld <joel.bosveld@gmail.com> <Joel.Bosveld@gmail.com>
Kevin Lange <klange@ogunderground.com> Kevin Lange <>
Kristian Høgsberg <krh@redhat.com> <krh@bitplanet.net>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@albus.>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@beryl-project.org>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@bohemians.org>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@de35.org>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@linpro.no>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@nihilus.>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@opencompositing.org>
Kristian Lyngstøl <kristian@bohemians.org> <kristian@yoda.Lyngstol.net>
Kristopher Ives <kristopher.ives@gmail.com> <kris@leetbook2.>
Lubos Lunak <llunak@suse.cz> <llunak@novell.com>
Łukasz 'sil2100' Zemczak <lukasz.zemczak@canonical.com> Łukasz Zemczak <>
Marco Trevisan (Treviño) <mail@3v1n0.net> <trevi55@gmail.com>
Martin Wimpress <code@flexion.org> <martin.wimpress@ubuntu.com>
Matija Skala <mskala@gmx.com> <mskala@mail386.com>
MC Return <mc.return@gmx.net> <mcr2010@mcr2010-HP-Compaq-dc7700-Convertible-Minitower>
Michael Vogt <mvo@ubuntu.com> <mvogt@acm.org>
Michail Bitzes <bitzesmichail@gmail.com> <bitzesmichail>
Michail Bitzes <bitzesmichail@gmail.com> Michail Bitzes <>
Mike Dransfield <mike@blueroot.co.uk> <mike@blueroot.co.uk>
Mikkel Kamstrup Erlandsen <mikkel.kamstrup@gmail.com> <mikkel.kamstrup@canonical.com>
Nicholas Brugier <gandalfn@club-internet.fr> gandalfn
Patrick Niklaus <marex@opencompositing.org> <marex@beryl-project.org>
Patrick Niklaus <marex@opencompositing.org> <marex@compiz-fusion.org>
Patrick Niklaus <marex@opencompositing.org> <patrick@dark-desktop.>
Patrick Niklaus <marex@opencompositing.org> <patrick.niklaus@googlemail.com>
Quinn Storm <livinglatexkali@gmail.com> <quinn@darter.>
Quinn Storm <livinglatexkali@gmail.com> <quinn@darter.myhome.westell.com>
Quinn Storm <livinglatexkali@gmail.com> <quinn@de35.org>
Quinn Storm <livinglatexkali@gmail.com> <quinn@quinn-laptop.>
Robert Carr <racarr@canonical.com> <racarr>
Robert Carr <racarr@canonical.com> <racarr@de35.org>
Robert Carr <racarr@canonical.com> <racarr@gorbie.>
Robert Carr <racarr@canonical.com> <robb@gorbachev.>
Roi Cohen <roico.beryl@gmail.com> <roico@roico-desktop.>
Roland Bär <roland@verifysoft.de> <roland@verifysoft.de>
Roland Bär <roland@verifysoft.de> <roland@verifysoft.net>
Roland Bär <roland@verifysoft.de> <roland@Vista.>
Roland Bär <roland@verifysoft.de> <roland@Vista.>
Sami Jaktholm <sampo_75@windowslive.com> <sampo_75@windowslive.com>
Sami Jaktholm <sampo_75@windowslive.com> <sjakthol@outlook.com>
Sam Spilsbury <smspillaz@gmail.com> Sam
Sam Spilsbury <smspillaz@gmail.com> <Sam@ACER-SUSE.SUSE>
Sam Spilsbury <smspillaz@gmail.com> Sam Spillaz
Sam Spilsbury <smspillaz@gmail.com> <sam.spilsbury@canonical.com>
Sam Spilsbury <smspillaz@gmail.com> Sam Spilsbury <mailto>
Sam Spilsbury <smspillaz@gmail.com> Sam Spilsbury smspillaz@gmail.com <>
Sam Spilsbury <smspillaz@gmail.com> <Sam@XPS-SUSE.site>
Sam Spilsbury <smspillaz@gmail.com> <Sam@XPS-SUSE.XPS>
Sam Spilsbury <smspillaz@gmail.com> <SmSpillaz@gmail.com>
Sam Spilsbury <smspillaz@gmail.com> <smspillaz@opencompositing.org>
Sam Spilsbury <smspillaz@gmail.com> <smspillaz@smspillaz-desktop.>
Sam Spilsbury <smspillaz@gmail.com> <smspillaz@XPS-FEDORA.>
Sam Spilsbury <smspillaz@gmail.com> <smspillaz@XPS-U.>
Sam Spilsbury <smspillaz@gmail.com> <smspillaz@XPS-UNITY.>
Sam Spilsbury <smspillaz@gmail.com> <unity@VB-U1010.>
Scott Moreau <oreaus@gmail.com> <moreaus@gmail.com>
Scott Moreau <oreaus@gmail.com> <scott@box1.>
Stephen M. Webb <stephen.webb@canonical.com> Stepehn M. Webb
Thomas Jaeger <thjaeger@gmail.com> <ThJaeger@gmail.com>
Thomas Thurman <thomas.thurman@canonical.com> thomas.thurman@canonical.com <>
Thomas Voß <thomas.voss@rub.de> Thomas Voß <>
Thomas Voß <thomas.voss@rub.de> <thomas.voss@canonical.com>
Timo Jyrinki <timo.jyrinki@canonical.com> timo.jyrinki@canonical.com <>
Tim Penhey <tim.penhey@canonical.com> Time Penhey
Travis Watkins <amaranth@ubuntu.com> <amaranth@opencompositing.org>
Travis Watkins <amaranth@ubuntu.com> <travis@ronin.>
Travis Watkins <amaranth@ubuntu.com> <travis.watkins@linaro.org>
warlock <warlock@opencompositing.org> <warlock@banana.>
warlock <warlock@opencompositing.org> <warlock.cc@gmail.com>
